<div class="container mt-4 mb-4 ml-4">
  
    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="message !== '' && message !== null">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      {{message}}
    </div>
    <h4>Add Category</h4>
    <div class="col-md-7 add-category">
        <form [formGroup]="categoryForm" (ngSubmit)="add()">
          <div class="formBackground">

       
            <div class="form-group">
              <label for="categoryName">Name</label>
              <input type="text" formControlName="categoryName" class="form-control" 
              id="categoryName" [ngClass]="{'is-invalid' : 
              !this.categoryForm.get('categoryName').valid && 
              this.categoryForm.get('categoryName').touched}" (blur)="IsCategoryNameExist()">
              <div class="text-danger" 
                *ngIf="this.categoryForm.get('categoryName').invalid && this.categoryForm.get('categoryName').touched">
                {{messageValidate.name.required}}
                </div>
                <div class="text-danger">
                  {{messageValidate.name.exist}}
                </div>
            </div>
            <div class="form-group">
              <label for="num_of_products">Products Number</label>
              <input type="number" formControlName="num_of_products" class="form-control"
              id="num_of_products" [ngClass]="{'is-invalid' : 
              !this.categoryForm.get('num_of_products').valid && this.categoryForm.get('num_of_products').touched}">
            </div>
            <button type="submit" [disabled]="!categoryForm.valid || categoryName" 
            class="btn btn-block mt-2" style="background-color: #7386D5; color: white;">{{btntitle}}</button>
          </div>
          </form>
    </div>
    
  </div>
  