<div class="container">
   <div class="mt-4" >
       <div *ngIf="product">
           <h1 class="text-center">{{product.productName}}</h1>
        </div>
    <hr>
    </div>

    <div class="row mt-5" *ngIf="product">
        <div class="col-md-4">
                <img [src]="createImgPath(product.url)" class="mx-auto d-block img-fluid" 
                alt="profile picture" style="max-width: 60%;">
            
            <img src="assets/images/in stock.png" *ngIf="product.amount > 0" class="mx-auto d-block 
            img-fluid mt-2 mb-5" width="40%">
            <img src="assets/images/sold.png" *ngIf="product.amount == 0" class="mx-auto
             d-block" 
            width="40%">
        </div>
        <div class="col-md-8">
                    <p class="card-text bold">{{product.description}}</p>
                    <h3 class="mt-4">{{product.price | currency}}</h3>           
                <button class="btn btn-warning mr-2" *ngIf="isAdmin()" type="button" (click)="EditProductClick(product.productId)">EDIT</button>
                <button class="btn" style="background-color: #9575CD; color: white;" 
                *ngIf="isAdmin()" type="button" (click)="onDelete(product.productId)">  DELETE </button>     
                <div class="btn-group">
                    <button type="button" *ngIf="!isAdmin()" (click)="addItemToCart()" 
                    class="btn btn-block text-uppercase bold btn-flat">Add To Cart</button>
                </div>
                
        </div>
    </div>
</div>
