
E-commerce-api/.vs/E-commerce/DesignTimeBuild/.dtbcache
E-commerce-api/E-commerce/obj/Debug/netcoreapp3.1/E-commerce.csprojAssemblyReference.cache
E-commerce-api/.vs/E-commerce/v16/Server/sqlite3/storage.ide
E-commerce-api/.vs/E-commerce/v16/.suo
