.cart-no{
    position: absolute;
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    font-size: 1em;
    color: white;
    background: blue;
    text-align: center;
    top: -8px;
    right: -3px;
}
.navbar .navbar-brand span{
    color: #ffD700;
}
.navbar{
    background: #512DA8;
}
.dropdown-menu{
    min-width: 9rem;
}
.dropdown-item{
    width: 90%;
    
}
a{
    color: white;
}
.droplink{
    color: #9575CD!important;
}
a{
    margin-left: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.active , .color:hover{
    border-radius: 5%;
    background-color: #9575CD;
}
/*303036*/