
     <div class="card shadow-sm">
            <a [routerLink]="['/product' , prod.productId]" style="cursor: pointer;">
              <img [src]="createImgPath(prod.url)" class="card-img-top ml-3 mt-2" alt="profile picture"
              height="190">
            </a>
            <div class="card-body d-flex flex-column">
                <a>
                   <h6 class="text-uppercase mb-3">{{prod.productName}}</h6> 
                </a>
                <div class="rate">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <i class="fa fa-star-o"></i>
              </div>
                <span class="mb-4">{{prod.price | currency}}</span>
              <div class="btn-group mb-2">
                <button type="button" *ngIf="!IsAdmin()" (click)="addItemToCart()" 
                class="btn btn-block mr-2 btn-flat">BUY NOW</button>
                <button type="button" (click)="onShow(prod.productId)" *ngIf="IsAdmin()"
                [routerLink]="['/product', prod.productId]" 
                class="btn btn-block text-uppercase bold btn-flat" 
                >View</button>
                </div>
            </div>
        </div>
 


  