<div class="container mt-4 mb-4">
  <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="message !== ''">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    {{message}}
  </div>
  <div class="col-md-5 m-auto">
      <form [formGroup]="productForm" (ngSubmit)="add()">
          <div class="form-group">
            <label for="productName">Name</label>
            <input type="text" formControlName="productName" class="form-control" 
            id="name" [ngClass]="{'is-invalid' : 
            !this.productForm.get('productName').valid && this.productForm.get('productName').touched}">
            <div class="text-danger" 
              *ngIf="this.productForm.get('productName').invalid && this.productForm.get('productName').touched">
                      {{messageValidate.name.required}}
              </div>
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input type="number" formControlName="price" class="form-control" 
            id="price" [ngClass]="{'is-invalid' : 
            !this.productForm.get('price').valid && this.productForm.get('price').touched}">
            <div class="text-danger" 
              *ngIf="this.productForm.get('price').invalid && this.productForm.get('price').touched">
                      {{messageValidate.price.required}}
              </div>
          </div>
          <div class="form-group">
              <label for="description">Description</label>
              <textarea type="text" formControlName="description" class="form-control" 
              id="description" [ngClass]="{'is-invalid' : 
              !this.productForm.get('description').valid && this.productForm.get('description').touched}"></textarea>
              <div class="text-danger" 
                *ngIf="this.productForm.get('description').invalid && this.productForm.get('description').touched">
                        {{messageValidate.description.required}}
                </div>
            </div>
            <div class="form-group">
              <label for="amount">Amount</label>
              <textarea type="number" formControlName="amount" class="form-control" 
              id="amount" [ngClass]="{'is-invalid' : 
              !this.productForm.get('amount').valid && this.productForm.get('amount').touched}"></textarea>
              <div class="text-danger" 
                *ngIf="this.productForm.get('amount').invalid && this.productForm.get('amount').touched">
                        {{messageValidate.description.required}}
                </div>
            </div>
            <div class="form-group">
              <label for="categoryId">Category</label>
              <select class="form-control mb-2" formControlName="categoryId" id="categoryId" name="categoryId" [ngClass]="{'is-invalid' : 
              !this.productForm.get('categoryId').valid && this.productForm.get('categoryId').touched}">
                <option *ngFor="let cat of categories" [value]="cat.id">{{cat.categoryName}}</option>
              </select>
              <div class="text-danger" 
                *ngIf="this.productForm.get('categoryId').invalid && this.productForm.get('categoryId').touched">
                        {{messageValidate.category.required}}
                </div>
            </div>
            
          
          <div class="form-group">
             <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
          </div>
          
          <button type="submit" [disabled]="!productForm.valid" class="btn btn-primary mt-2">{{btnTitle}}</button>
      </form>
  </div>
  
</div>
