<div class="home">
    <div class="container-fluid">
        <div class="row">
            <form class="search-box">
                <input (keyup.enter)="onSearch()" type="text" #search placeholder="Search" 
                class="search-txt font-italic">
                    <i class="fa fa-search"></i>
            </form>
        </div>
        <div *ngIf="isLoading" class="row" style="justify-content: center; margin-top: 100px;">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <div class="row" *ngIf="!isLoading">
            <section class=" col-md-3 col-xl-2 col mt-5" id="side">
                <div class="side-menu">
                    <ul class="list-group my-3 list-categories">
                      <li class="list-group-item" *ngFor="let category of categoryList"
                      [class.active]="category.id === SelectedId"
                      (click)="OnFilter(category.id)" style="cursor: pointer;"><!--[value]="category.id"-->
                      {{category.categoryName}}
                      </li>
                    </ul>
                </div>
            </section>
            <section class="col mt-5">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-3" *ngFor="let product of products">
                    <app-product-card [prod]="product">
                    </app-product-card>
                </div>
            </div>
            </section>
    
            
        </div>
    </div>
    
        
</div>
