<div class="notfound">
    <div class="div-2">
        <h3 class="font-weight-bold text-white">ERROR 404!! PAGE NOT FOUND</h3>
    
        <div class="btnhome">
            <button type="button" class="btn btn-outline-danger" (click)="goHome()">Home Page</button>
    
        </div>
    </div>
       
</div>










<!--
<div class="notfound">
    <div class="notfoundBtn">
        <button type="button" class="btn btn-outline-danger" (click)="goHome()">Home Page</button>
    </div>
        <img src="assets/images/cart1.jpg" class="w-100" alt="frist photo">
</div>
-->