<div class="wrapper" style="background-color: #eff3f6;">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Control Panel</h3>
        </div>

        <ul class="list-unstyled components mt-4">
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Users</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a (click) ="CheckUser()">Users List</a>
                    </li>
                    <li>
                        <a (click)="CheckUserRoleList()">User Roles</a>
                    </li>
                
                </ul>
            </li>

            <li>
                <a href="#CategorySubmenu" data-toggle="collapse" aria-expanded="false" 
                class="dropdown-toggle" >Category List</a>
                <ul class="collapse list-unstyled" id="CategorySubmenu">
                    <li>
                        <a routerLink="add-category">Add Category</a>
                    </li>
                    <li>
                        <a (click)="CategoryList()">Category List</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" 
                class="dropdown-toggle" >Product List</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a (click)="AddProduct()">Add Product</a>
                    </li>
                    <li>
                        <a (click)="AllProducts()">Product List</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-dark">
                    <i class="fa fa-align-left"></i>
                </button>
                
                <div class="">
                    <h4>Control Panel</h4>
                </div>
            </div>
        </nav>

     <div class="container mt-5 main-panel">
        
         <div *ngIf="isUserList">
            <div class="alert alert-primary" role="alert">
                <strong>Users List</strong>
            </div>
            <div class="col-sm-4" style="float: right;">
                <input type="text" [(ngModel)]="searchTerm" class="form-control" style="margin-bottom: 15px; 
                border-radius: 50px;" placeholder="Username">   
             </div>
            <app-users [search]="searchTerm"></app-users> 
         </div>

         <div *ngIf="isUserRoleList">
            <div class="alert alert-primary" role="alert">
                <strong>User Roles</strong>
            </div>
            <div class="col-sm-4" style="float: right;">
                <input type="text" [(ngModel)]="searchTerm" class="form-control" style="margin-bottom: 15px; 
                border-radius: 50px;" placeholder="RoleName">   
             </div>
            <app-user-roles [search]="searchTerm"></app-user-roles>
         </div>


         <div *ngIf="isCategoryList">
            <div class="alert alert-primary text-center mb-4" role="alert">
                <h5 style="font-weight: bold;">Category List</h5>
            </div>
            <div class="col-sm-4" style="float: right;">
                <input type="text" [(ngModel)]="searchTerm" class="form-control" 
                style="margin-bottom: 15px; 
                border-radius: 50px;" placeholder="Category Name">   
             </div>
           

            <app-category [search]="searchTerm"></app-category>
         </div>


         <div *ngIf="isproductList">
            <div class="col-sm-4" style="float: right;">
                <input type="text" [(ngModel)]="searchTerm" class="form-control" style="margin-bottom: 15px; 
                border-radius: 50px;" placeholder="Product Name">   
             </div>
            <table id="tbl" class="table text-center bg-light border">
                <thead>
                    <tr class="bg-dark text-light">
                        
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of products | filter:searchTerm:'productName'">
                        
                        <td> {{ item.productName }} </td>
                        <td> {{ item.description }} </td>
                        <td> {{ item.price }} </td>
                        <td> {{ item.categoryId}} </td>
                        <td>
                            <button type="button" class="btn mr-2" style="color: white; background-color: #7386D5;"
                             [routerLink]="['/editproduct' ,
                             item.productId]">Edit</button>
                            
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>

         </div>
         
         <div *ngIf="isAddProduct">
             <app-addproduct></app-addproduct>
         </div>
     </div>
        
     </div>
</div>


