.btn-shop{
    margin-left: 15vh;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #B22222;
    border: none;
    padding: 10px;
    margin-top: 8px;
}
.fad{
    margin-left: 25vh;
}
